.aboutContainer {
	padding: 8px;
}

.aboutContent {
	p {
		font-size: clamp(0.6rem, 2vw, 2rem);
		text-align: center;
	}
}

// .aboutContent {
// 	p {
// 		@media (max-height: 900px) {
// 			font-size: 1rem;
// 		}
// 	}
// }
