:root {
	--text-color: #bcbcbc;
	--navbar-color: #060606;
	--selected-color: #e9e9e9;
	--gold-color: #866b25;
}

@font-face {
	font-family: "Formula1Black";
	src: url(./fonts/Formula1-Black.ttf);
}
@font-face {
	font-family: "Formula1Bold";
	src: url(./fonts/Formula1-Bold.ttf);
}
@font-face {
	font-family: "Formula1Regular";
	src: url(./fonts/Formula1-Regular.ttf);
}
@font-face {
	font-family: "Formula1Wide";
	src: url(./fonts/Formula1-Wide.ttf);
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
	background: rgb(6, 6, 6);
	background: linear-gradient(0deg, rgb(61, 63, 63) 100%);
	background-attachment: fixed;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1800px;
}

.mainHeader {
	display: flex;
	background-color: var(--navbar-color);
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	justify-content: space-between;
	align-items: center;

	height: 90px;
	padding: 0 20px;
}

.logoContainer {
	display: flex;
	justify-content: center;
}
.logoImage {
	height: 45px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.logoText {
	font-size: 1.5em;
	margin-left: 20px;
	color: #2a38b4;
	font-family: Formula1Bold;

	text-transform: uppercase;
	font-style: italic;
}

.logoSubText {
	font-size: 1em;
	margin-left: 20px;
	color: var(--gold-color);
	font-family: Formula1Bold;
	font-style: italic;
}

.navBar {
	display: flex;
	justify-content: space-between;
}

.navItem {
	text-decoration: none;
	color: var(--text-color);
	font-family: "Formula1Bold";
	font-size: 1.8em;
	margin: 0 10px;
	background: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 3px 10px;
	height: 30px;

	&:hover {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 5px solid #2a38b481;
		padding-bottom: 20px;
		border-radius: 0;
	}
}

.socialContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 50px;
	gap: 20px;
}

.mainContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

	margin-top: 100px;
	height: 70vh;
}

.footer {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: 0;
	right: 0;
	left: 0;
	justify-content: space-around;
	align-items: center;
	background-color: var(--navbar-color);
	color: var(--text-color);
	padding: 10px;
}

.footerLogo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.active {
	color: var(--selected-color);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 5px solid #2a38b4;
	padding-bottom: 20px;
	border-radius: 0;
}
