.scheduleContainer {
	display: flex;
	width: 100%;
	height: fit-content;
	justify-content: center;
	align-items: center;
	padding: var(--padding);
}
.schedule-image {
	max-width: 100%;
	margin: 0 auto;
}

.scheduleContent {
}
