@font-face {
	font-family: "Formula1Black";
	src: url(./fonts/Formula1-Black.ttf);
}
@font-face {
	font-family: "Formula1Bold";
	src: url(./fonts/Formula1-Bold.ttf);
}
@font-face {
	font-family: "Formula1Regular";
	src: url(./fonts/Formula1-Regular.ttf);
}
@font-face {
	font-family: "Formula1Wide";
	src: url(./fonts/Formula1-Wide.ttf);
}
